*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-image: linear-gradient(to right, #0b475f , #072e3f, #053649);
    color: #fff;
}

.container{
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.btn-style{
    background-color: transparent;
    border: 1px solid #edd05c;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-style:hover{
    background-color: #143f52;
    border: .5px solid #edd05c;
    transition: 3s;
}

.link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: #edd05c;
    text-decoration: underline;
    text-transform: 3s;
    font-weight: bolder;
}